{% extends 'base.html' %}

{% block body %}

    <h2 class="mt-3">{{ display_melon.common_name }}</h2>

    <div class="row">

        <div class="col-6">
            <img src="{{ display_melon.image_url }}" class="img-responsive">
        </div>

        <div class="col-3">
            <div class="card text-center bg-light">
                <div class="card-body">
                    <h5 class="card-title">Price per melon</h5>
                    <div class="card-text">{{ display_melon.price_str() }}</div>

                    <form action="/add_to_cart/{{ display_melon.melon_id }}" method="POST">
                        <button onclick="decrement()">-</button>
                        <input id="quantity-select" name="quantity" type="number" min="1" max="100" value="1">
                        <button onclick="increment()">+</button>
                        <script>
                            function increment() {
                            document.getElementById('quantity-select').stepUp();
                            }
                            function decrement() {
                            document.getElementById('quantity-select').stepDown();
                            }
                        </script>
                        <br>
                        <input type="submit" value="Add to cart">
                        <!-- <a class="btn btn-primary" href="/add_to_cart/{{ display_melon.melon_id }}">Add to cart</a> -->
                        <!-- <input id=demoInput type=number min=100 max=110>
                        <button onclick="increment()">+</button>
                        <button onclick="decrement()">-</button>
                        <script>
                        function increment() {
                            document.getElementById('demoInput').stepUp();
                        }
                        function decrement() {
                            document.getElementById('demoInput').stepDown();
                        }
                        </script>                 -->  
                    </form>
                 </div>
            </div>



        </div>
    </div>

    <div class="melon-details">

        <h3>Product details</h3>

        <ul>
            <li>Melon type: {{ display_melon.melon_type }}</li>
            <li>Color: {{ display_melon.color }}</li>
            {% if display_melon.seedless %}
              <li>Seedless melon</li>
            {% else %}
              <li class='warning'>Warning! This melon has seeds</li>
            {% endif %}
        </ul>
    </div>

{% endblock %}
